.first{
	font-weight: bold;
}
.done{
	text-decoration: line-through;
}
.third{
	padding: 01px;
	text-decoration: line-through;
	color: blue;
}
.seconddone{
	padding-top: 01px;
	text-align: center;
	color: red;
	font-family: Arial,sans-serif
}